/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* ---------- general styling ---------- */
html {
  color: #313131; 
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid lightgrey;
}
  
body {
  margin: 0;
  padding: 0;
}

/* ---------- nav bar styling ---------- */

header {
  position: fixed;
  background-color: white;
  border-bottom: 1px solid #707070;
  width: 100%;
  height: 56px;
  z-index: 10;
}

header h1 {
  display: inline-block;
  position: relative;
  margin-top: 8px;
  font-size: 32px;
}

/* Menu icon & menu */

#myLinks {
  position: relative;
  display: none;
  margin-top: 11px;
  opacity: 0.85;
  width: 100%;
  margin-left: -2px;
  text-align: start;
}

#myLinks a {
  display: block;
  position: relative;
  color: white;
  background-color: black;
  padding: 16px 16vw;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  color: black;
}

.icon i {
  font-size: 24px;
}

.account-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 12px 8px 8px 8px;
}

.account-icon div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url("/media/profile.jpg");
  background-size: contain;
}


/* ---------- product list page styling ---------- */

.products_header {
  position: relative;
  width: 100%;
  height: 240px;
  background-color: #DBDBDB;
  text-align: left;
  padding-top: 56px;
  z-index: 1;
}

.products_header div {
  position: absolute;
  bottom: 0;
  display: inline-block;
  margin: 16px;
}

.products_header img {
  display: none;
}

.products_h1 {
  display: inline-block;
  font-size: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.products_p {
  display: inline-block;
  padding-left: 20px;
  max-width: 370px;
}

@media screen and (min-width: 800px) {

  .products_header {
    height: 400px;
  }

  .products_header, .products-section {
    padding: 0 16%;
  }

  .products_header img {
    position: absolute;
    display: block;
    right: 16%;
    bottom: 0;
    height: 320px;
    margin: 8px 16px;
  }

  header {
    padding: 0 16%;
  }

  .icon {
    right: 0;
  }

  h1, .icon, .account-icon {
    position: relative;
  }

  header h1 {
    float: left;
  }

  .icon, .account-icon {
    float: right;
  }

  #myLinks {
    margin-top: 56px;
  }
}

/* ---------- grid container styling ---------- */

.grid_container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    gap: 1em;
  }
  
  @media (min-width: 375px) {
    .grid_container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 992px) {
    .grid_container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .grid_container > article {
    text-align: left;
    padding: 2em 1em;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #989696;
    color: #313131;
  }
  
  .grid_container > article:hover {
    box-shadow: 0 8px 16px 0 #6C7689;
  }

  .grid_container > article div {
  }
  
  .grid_container > article img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-bottom: 1px solid #989696;
    padding-bottom: 20px;
  }

  .grid_container > article h4 {
    padding-top: 10px;
  }

  .grid_container > article h3 {
    padding-bottom: 35px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    color: #989696;
    padding-top: 3px;
  }

  .grid_container > article h5 {
    font-weight: normal;
  }

  .grid_container > article p {
    padding-top: 3px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: -15px;
  }
  
  .grid_container .empty {
    grid-column: 1 / span 3;
    grid-row: 3;
  }

  /* ---------- tools grid styling ---------- */

  .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .tools_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-items: left;
    padding-left: 1em;
    padding-bottom: 10px;
  }
  
  .tools_grid_container {
    border: 1px solid #6C7689;
    height: 50px;
    width: 190px;
    margin: 8px 16px;
  }
  
  @media (min-width: 420px) {
    .tools_grid{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .tools_grid label{
    max-width: 350px;
  }